.topo-catalogo {
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.lista-midias {
    margin: 20px 0;
}

.topo-lista-midias {
    display: flex;
    position: relative;
}

.topo-lista-midias>h2 {
    color: var(--cinza);
    margin-left: 20px;
}

.blur-roxo-midias {
    z-index: -1;
    position: absolute;
    width: 120px;
    height: 60px;
    left: 100px;
    top: 0px;
    background: rgba(116, 0, 142, 0.8);
    filter: blur(20px);
}

.blur-azul-midias {
    z-index: -1;
    position: absolute;
    width: 120px;
    height: 60px;
    left: 0px;
    top: -10px;
    background: rgba(29, 0, 155, 0.8);
    filter: blur(20px);
}

.midias {
    display: flex;
    overflow: scroll;
    margin-top: 20px;
    gap: 15px;
    padding: 20px 0;
}

.midias::-webkit-scrollbar {
    display: none;
}

.midia {
    width: 13%;
    height: 100%;
    min-width: 150px;
    border-radius: 10px;
    border: 1px solid var(--primaria);
    box-shadow: 2px 2px 5px var(--cinza);
    transition: 500ms;
}

.midia:hover {
    transform: scale(1.15);

}

.avatar:hover {
    content: url(../img/avatar.gif);
}

.sonic:hover {
    content: url(../img/sonic.gif);
}

.encanto:hover {
    content: url(../img/encanto.gif);
}

.main-catalogo {
    margin-top: 100px;
}

.lightbox {
    display: none;
}

/* Opened lightbox */
.lightbox:target {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Lightbox content */
.div-filme {
    z-index: 20;
    width: 25rem;
    position: relative;
    padding: 1.5em;
    color: var(--cinza);
    text-align: center;
}
.div-filme > h1 {
    text-shadow: 2px 2px 2px var(--cinza);
}

.div-filme>img {
    width: 100%;
}

/* Close button */
.lightbox .close {
    position: relative;
    display: block;
}

.lightbox .close::after {
    right: -1rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
    color: white;
    content: "X";
    font-size: large;
    cursor: pointer;
    border: 2px solid white;
}

/* Lightbox overlay */
.lightbox .close::before {
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    content: "";
    cursor: default;
}

@media (max-width:500px){
    .topo-catalogo {
        position: static;

    }
    .main-catalogo {
        margin-top: 0px;
    }
}