* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --preto: rgb(0, 0, 0);
  --branco: white;
  --cinza: #D9D9D9;
  --primaria: #B100D2;
  --secundaria: #16009D;
  --terciaria: #7A008D;
  --degrade-botao: linear-gradient(180deg, var(--secundaria) 0%, var(--terciaria) 100%);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--preto);
  background-image: url(../img/fundo.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 20px;
}
li{
  list-style-type: none;
}
a{
  color: var(--branco);
  text-decoration: none;
}

.main{
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  min-width: 400px;
}

.login {
  margin: 0 auto;
  padding: 50px 20px;
  max-width: 500px;
  min-width: 50%;
  background: rgba(56, 0, 68, 0.32);
  /* borda-botão */
  border: 1px solid var(--primaria);
  box-shadow: 14px 15px 17px rgba(255,255,255, 0.20);
  border-radius: 27px;
}

.logo {
  text-align: center;
}

.logo img {
  height: 72px;
  width: 274px;
  margin-bottom: 20px;
}

.botoes {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.action-button button {
  background: var(--degrade-botao);
  /* borda-botão */

  border: 1px solid var(--primaria);
  border-radius: 20px;
  height: 70px;

  padding: 10px;
  margin-top: 30px;
  transition: all 0.3s ease;
  color: var(--cinza);
}

.action-button button:hover {
  color: rgb(20, 20, 20);
  box-shadow: 2px 1000px 1px var(--cinza) inset;
}

.botao {
  background: linear-gradient(180deg, var(--secundaria) 0%, var(--terciaria) 100%);
  width: 100%;
  border: 1px solid var(--primaria);
  border-radius: 20px;
  padding: 10px 30px;
  transition: all 0.3s ease;
  color: var(--cinza);
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;  
  font-weight: bold;
}

.botao > img {
  height: 40px;
  color: var(--cinza);
  margin-right: 10px;
}
@media (max-width:500px) {
  .botao {
    font-size: 15px;
    padding: 5px 20px;
  }
  .botao > img {
    height: 20px;
  }
  

}

.botao:hover {
  color: var(--preto);
  box-shadow: 2px 1000px 1px var(--primaria) inset;
}

.botao-login {
  width: 100%;
}

.botao-padrao {
  width: 100%;
}

.input, .select {
  background: var(--cinza);
  border-radius: 8px;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  font-size: 20px;
  margin-top: 20px;
}

.title {
  color: var(--cinza);
  text-align: center;
}

/* Main */
/* Section 1 */

main {
  max-width: 1320px;
  margin: 0 auto;
}

#parte1 {
  margin-top: 6em;    
  width: 100%;
  padding-bottom: 50px;
}

#principal {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

#principal > h1 {
  width: 100%;
  text-align: center;
  color: var(--cinza);
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
}

#subtitulo {
  margin-top: 20px;
  width: 20em;
  text-align: center;
  color: var(--cinza);
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
}

#inscreva-se {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  text-align: center;
  width: 80%;
}

#inscreva-se > .botao{
  width: 200px;
  height: 52px;
  margin-left: -20px;
}

#txt-inscreva-se {
  height: 52px;
  width: 60%;
  padding: 0 20px;
  font-size: 20px;
  color: var(--cinza);
  background: rgba(217, 217, 217, 0.3);
  border: none;
  border-radius: 8px;
}

.camiseta{
  position: relative;
  width: 100%;
  text-align: right;
}
.blur-roxo{
  z-index: -1;
  position: absolute;
  width: 417px;
  height: 382px;
  right: -100px;
  top: -100px;
  background: rgba(116, 0, 142, 0.8);
  filter: blur(92px);
}
.blur-azul{
  z-index: -1;
  position: absolute;
  width: 417px;
  height: 382px;
  right: 100px;
  top: 50px;
  background: rgba(29, 0, 155, 0.8);
  filter: blur(104.5px);
}

hr {
  background: linear-gradient(to right, rgba(201, 0, 255, 0) 0.52%, #C900FF 47.92%, rgba(255, 0, 255, 0));
  height: 2px;
  border: 0;
}

#parte2{
  display: flex;
  width: 100%;
  text-align: center;
}
#parte2 > img {
  width: 50%;
}
#parte2 > div {
  display: flex;
  color: var(--cinza);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
#parte2 > div > h1 {
  font-size: 40px;
}

@media (max-width:500px){
  #topo {
    flex-direction: column;
  }
  
  #parte2 {
    flex-direction: column;
  }
  #parte2 > img {
    width: 100%;
  }
  #parte2 > div {
    width: 100%;
  }
}

/* Estilizando o Footer*/
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cinza);
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.sel-img { 
  text-align: center;
}

.sel-img > img {
  max-width: 200px;
}